body {
  font-family: Poppins, sans-serif;
  color: #fff;
  background-color: #0e0e0e;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

/* =============HEADER============ */

.header {
  background: #202020;
}

.header-logo {
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center;
}

.header-list-link {
  color: #fff;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.03em;
  padding-top: 33px;
  padding-bottom: 33px;
  display: inline-block;
}

.header-button {
  border-radius: 5px;
  background: #ffeb38;
  min-width: 128px;
  height: 44px;
  flex-shrink: 0;
  font-size: 16px;
  letter-spacing: 0.03em;
  border: none;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .header-list-item:not(:last-child){
    margin-right:40px */



/* Hero section */
.hero-section {
  padding-top: 187px;
  padding-bottom: 190px;
  background-image: linear-gradient(180deg, rgba(14, 14, 14, 0.85) 99.73%, rgba(14, 14, 14, 0.85) 99.74%), url(../images/hero-bgd.jpg);
  background-size: cover;
  background-color: #0E0E0E;
  max-width: 1440px;
  background-position: center;
  margin: 0 auto;
  background-repeat: no-repeat;
}

.hero-subtitle {
  color: #fff;
  text-align: center;
  line-height: normal;
  letter-spacing: 0.03em;
  margin-bottom: 14px;
}

.hero-subtitle-part {
  color: #ffeb38;
  font-weight: 700;
}

.hero-title {
  color: #fff;
  font-size: 70px;
  line-height: 1.29;
  letter-spacing: 0.03em;
  max-width: 790px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;
}

.hero-text {
  color: #fff;
  text-align: center;
  letter-spacing: 0.03em;
  max-width: 786px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero-list {
  display: flex;
  gap: 19px;
  justify-content: center;
}

.hero-button {
  color: #202020;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.03em;
  background-color: #fff;
  border-radius: 5px;
  min-width: 181px;
  height: 48px;
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #ffeb38;
}


/* About Section */
.about-section {
  padding-top: 112px;
  padding-bottom: 112px;
}

.about-subtitle-part {
  color: #ffeb38;
  font-weight: 700;
}

.about-subtitle {
  color: #fff;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-bottom: 19px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.about-subtitle::before {
  content: "";
  display: block;
  width: 143px;
  height: 2px;
  background: #D8D8D8;
}

.about-title {
  color: #fff;
  font-size: 48px;
  line-height: 1.26;
  letter-spacing: 0.03em;
  max-width: 534px;
  margin-bottom: 31px;
}

.about-title-part {
  color: #ffeb38;
}

.about-text {
  color: #696969;
  text-align: justify;
  line-height: 1.5;
  letter-spacing: 0.03em;
  max-width: 534px;
  margin-bottom: 35px;
}

.about-button {
  min-width: 181px;
  height: 48px;
  border-radius: 5px;
  background: #ffeb38;
  border: none;
  color: #1e1e1e;
  text-align: center;
  line-height: normal;
  letter-spacing: 0.03em;
}

.about-container {
  display: flex;
  justify-content: space-between;
}

.about-list {
  position: relative;
}

.about-second-item {
  position: absolute;
  top: 50%;
  left: 50%;
}


/* About Section */

.services-section {
  padding-top: 112px;
  padding-bottom: 112px;
}


/* About Section */

.services-section {
  padding-top: 112px;
  padding-bottom: 112px;
}


/* About Section */

.services-section {
  padding-top: 112px;
  padding-bottom: 112px;
}

/* About Section */

.services-section {
  padding-top: 112px;
  padding-bottom: 112px;
}

/* Services section */


.offering-container {
  display: flex;
}


.services-text {
  width: 534px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 61px 20px;
  margin-left: 89px;
}

.services-item {
  position: relative;
  flex-basis: calc((100% - 20px)/ 2);
  border-radius: 5px;
  background-color: #FFF;
  color: #696969;
  padding: 54px 15px 22px;
  text-align: center;
}

.services-icon {
  position: absolute;
  left: 91px;
  top: -41px;
  display: flex;
  width: 82px;
  height: 82px;
  background-color: #FFEB38;
  border-radius: 50%;
  border: 3px solid #FFF;
  align-items: center;
  justify-content: center;
}

.services-item-text {
  color: #696969;
  text-align: center;
  font-size: 11px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}